<!doctype html>


<!-- look, ng-app -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Todo List</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />

</head>

<body ng-app="todoApp" ng-cloak>
    <div ng-controller="TodolistController">
        <md-toolbar class="md-toolbar-tools">
            <h1>{{name}}'s Todolist</h1>
            <span flex></span>
            <md-button md-no-ink class="md-warn" ng-click="hideFinished=!hideFinished">
                <span ng-show="hideFinished">show finished</span>
                <span ng-show="!hideFinished">hide finished</span>
            </md-button>

        </md-toolbar>
        <div layout="row" layout-align="center start" layout-padding>
            <md-input-container flex="50">
                <label>let's ...</label>
                <input ng-model="newTodo">
            </md-input-container>
            <span flex="10"></span>
            <md-button class="md-raised md-accent" ng-click="addTodo()">add {{newTodo}}</md-button>

        </div>

        <md-list>
            <md-subheader>Let's</md-subheader>
            <md-list-item ng-show="!(hideFinished && todo.finished)" ng-repeat="todo in todolist | orderBy: 'text'">
                <p> {{ todo.text }} </p>
                <md-checkbox ng-model="todo.finished"></md-checkbox>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>


    </div>

    <!--here we add some scripts-->
    <!--What bower installed: -->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>


    <!--What we coded: -->

    <script src="todolist-controller.js"></script>


</body>

</html>